.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2C37;
    border-bottom: solid 1px #979797;
    padding: 1.25rem;
    max-width: 100%;
    min-height: 6.0625rem;
}

.col-left {
    display: flex;
    align-items: center;
    gap: 8.1875rem;
}

.col-right {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}