.sidebar {
    position: fixed;
    left: 0;
    background-color: #2B2C37;
    color: #fff;
    min-width: 18.75%;
    min-height: 100%;
}

.sidebar__nav {
    margin-top: 2.25rem;
}

.link-container{
    display: flex;
    align-items: center;
    margin: 0.9375rem 1.875rem;
    gap: 1rem;
    
}

.link {
    font-weight: 700;
    font-size: 0.9375rem;
    color: #828FA3;
    text-decoration: none;
    left: 0;
    display: flex;

}

.link:hover {
    background-color:  #FFF;
    color: #635FC7;
}

.link:hover {
    fill: #fff;
}