.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #2B2C37;
    color: #fff;
    min-width: 18.75%;
    min-height: 100%;
    border-right: #3E3F4E solid 2px;
}

.sidebar-header {
    margin-bottom: 88px;
}