.search-container {
    display: flex;
    background: #20212C;
    margin-right: 3.125rem;
    align-items: center;
    min-width: 13.0625rem;
    gap: 0.625rem;
}

.search__input {
    cursor: pointer;
    outline: none;
    max-width: 10.8125rem;
    min-height: 2rem;
    color: #fff;
    padding: 0.5rem 1.375rem;

    background: #20212C;
    border: none;
    border-radius: 5px;
}