.detail-top {
    font-weight: 700;
    font-size: 1.125rem;
    color: #FFF;
    margin-bottom: 13px;
}

.detail-bottom {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFF; 
}

.detail-text {
    color: rgb(66, 255, 66);
}