.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.9375rem;
    margin: 2.125rem 2rem;
}

.logo__text {
    font-size: 1.5rem;
    letter-spacing: 0.0625rem;
    font-weight: 500;
    color: #fff;
}

