.nav {
    display: flex;
    flex-direction: column;
    margin-top: 2.25rem;
}

.link {
    display: flex;
    font-weight: 700;
    font-size: 0.9375rem;
    align-items: center;
    color: #828FA3;
    text-decoration: none;
    gap: 1rem;
    width: 90%;
    /* margin-left: 20px; */
    padding: 0.5rem 2rem;
    /* margin: 0 15px; */
    border-radius: 0 5px 5px 0;
}

.link:hover {
    background-color:  #FFF;
    color: #635FC7;
}

.active {
    background-color:  #635FC7;
    color: #fff;
}