.notification-cta {
    cursor: pointer;
    border-radius: 50%;
    background: none;
    border: none;
    padding: 0.625rem;
}

.bell-img {
    align-items: center;
}

.notification-cta:hover {
    background: #E4EBFA;
}

