.table-container {
    margin: 0 20px;
}

.table-controlls { 
    display: flex;
    justify-content: space-between;
    width: 1200px;
    align-items: center;
    padding: 25px 32px;
    background-color: #2B2C37;
    border: hsl(236, 11%, 25%) solid 1px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.primary-cta {
    cursor: pointer;
    width: 125px;
    height: 38px;
    background: #635FC7;
    border-radius: 6px;
    border: none; 
    font-size: 15px;
     font-weight: 400;

    color: #FFF;

}

.primary-cta:hover {
    background: #A8A4FF;
}

.table {
    /* table-layout: fixed;; */
  border-collapse: collapse;
    width: 1200px;
    background: #2B2C37;
    border: #3E3F4E solid 1px;
    border-radius: 5px;
}

.table-header {
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
    background-color: hsla(237, 27%, 74%, 0.165);
    border-bottom: #3E3F4E solid 2px;
    /* padding: 20px; */
}

.table-title {
    text-align: left;
    padding: 20px;
    /* border: red solid 1px; */
    font-size: 15px;
    color: #FFF;  
}

.table-item {
    /* text-align: center; */
    /* margin: 0 20px; */
    /* display: flex; */
    /* justify-content: space-between; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-bottom: #3E3F4E solid 1px;
    color: #fff;
}

.table-data {
    padding: 20px;
    /* border: blue solid 1px; */
    font-size: 14px;
    color: #FFFFFF;
    padding: 15px;
}


.table-footer {
    display: flex;
    background: #2B2C37;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    justify-content: space-between;
    color: #FFF; 
    font-size: 15px;
    /* border: blue solid 1px; */
}

.pagination {
    display: flex;
    /* Border */
    border: 1px solid #d1d5db;
    border-radius: 5px;
}

.pagination__item {
    /* Center the content */
    padding: 8px;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.pagination__item:not(:last-child) {
    /* Right border */
    border-right: 1px solid #d1d5db;
}

.pagination__item--active {
    background-color: #d1d5db;
}