.search-container {
    border: hsl(216, 15%, 25%) solid 1px;
    display: flex;
    justify-content: space-between;
    background: #20212C;
    margin-right: 3.125rem;
    align-items: center;
}

.search-container:hover {
    border: #fff solid 1px;
}

.search__input {
    outline: none;
    padding: 5px 20px;
    min-height: 2rem;
    color: #fff;

    background: #20212C;
    border: none;
    border-radius: 5px;
}

.search-btn {
    cursor: pointer;
    background: none;
    border: none;
}