.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table {
    display: grid;
    justify-content: space-between;
    flex-direction: column;
    table-layout: fixed;
    border-collapse: collapse;
    min-width: 500px;
    margin: 20px 30px;
    background: hsl(216, 28%, 7%);
    border-radius: 5px;
}

.table__header {
    background-color: hsl(214, 27%, 10%);
    border-top: 1px solid hsl(225, 4%, 20%);
    border-bottom: 1px solid hsl(225, 4%, 20%);
}

.table__header-text {
    text-align: left;
    padding: 20px;
    font-size: 15px;
    color: #fff;  
}

.table__row-item {
    border-bottom: #303134 solid 1px;
    color: #fff;
}

.table__data {
    padding: 20px;
    font-size: 14px;
    color: #fff;
}

.footer {
    display: flex;
}