.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 6.0625rem;
    padding: 1.25rem;
    
    background-color: hsl(214, 27%, 10%);
    border-bottom: 1px solid hsl(236, 11%, 27%);
}

.navbar__left {
    display: flex;
    align-items: center;
    gap: 8.1875rem;
}

.navbar__right {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}