.Avatar {
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem; 
}

