.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3.125rem;
    max-width: 35rem;
    height: 2.2rem;


    background: hsl(216, 28%, 7%);
    border: 1px solid hsl(225, 4%, 20%);
    border-radius: 5px;
}

.searchbar:hover {
    border: 2px solid #F4F7FD;
}

.searchbar__input {
    flex-basis: 90%;
    padding: 0.3125rem 1.25rem;

    color: #F4F7FD;
    background: hsl(216, 28%, 7%);
    border: none;
    outline: none;
}

.searchbar__button {
    background: none;
    border-left: 1px solid hsl(225, 4%, 20%);
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    outline: none;
    padding: 0.3125rem 0.625rem;
}